.sidebar {
    float: right;
    width: auto;
    border: none;
    margin-top: auto;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sidebar ul li {
    float: left;
    display: block;
    border: 1px solid black;
    width: 8em;
    text-align: center;
    white-space: nowrap;
}

.screenshot {
    float: right;
}

.actions {
    display: none;
}

.feedlink {
    display: none;
}

.footnote {
    font-size: 0.6em;
    vertical-align: super;
}

.inlinepage {
    overflow: visible;
}
.inlinepage .tags {
    /* hide tags of inlined posts */
    display: none;
}
.inlinepage .pagelicense {
    /* hide license footers of inlined posts */
    display: none;
}

#footer .pagecopyright, .pagelicense, .pagedate {
    font-size: .8em;
    margin-top: 0;
}
#footer .pagecopyright p {
    margin: 0;
}
#footer .pagelicense p {
    margin: 0;
    display: inline;
}
#footer .pagedate {
    margin: 5px 0px;
}

h2#beanywhere {
    margin-top: 0px;
}

