.sidebar {
    float: right;
    width: auto;
    border: none;
    margin-top: auto;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sidebar ul li {
    float: left;
    display: block;
    border: 1px solid black;
    width: 8em;
    text-align: center;
    white-space: nowrap;
}

.screenshot {
    float: right;
}

.actions {
    display: none;
}

/* hide tags of inlined posts */
.inlinepage .tags {
    display: none;
}
/* hide license footers of inlined posts */
.inlinepage .pagelicense {
    display: none;
}

pre {
    margin: 15px;
    padding: 15px;
    font-size: small;
    font-family: "Courier New", Courier;
    background: black;
    color: white;
    border: solid 1px #D3D7CF;
    line-height: 110%;
}
