.screenshot {
    float: right;
}

pre {
    margin: 15px;
    padding: 15px;
    font-size: small;
    font-family: "Courier New", Courier;
    background: black;
    color: white;
    border: solid 1px #D3D7CF;
    line-height: 110%;
}
